:root {
  --color-primary: #c686ff;
  --color-bg-primary: #090229;
  --color-bg-secondary: #06011a;
  --color-bg-tertiary: #150037;
  --color-bg-quaternary: #1f0845;
  --color-bg-toolbar: #250657;
  --color-box-primary: #1f0845;
  --color-box-secondary: #150037;
  --color-box-border: #752eb5;
  --color-border: #4c1081;
  --color-text-primary: white;
  --color-text-secondary: #c686ff;
  --color-text-subtle: #ded7e5;
  --color-success-bg: #0e1801;
  --color-success: #00af00;
  --color-error-bg: rgb(26 2 25);
  --color-error: red;
  --color-disabled-bg: #1a1a1a;
  --color-disabled: #5d5d5d;
}

body {
  margin: 0;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #f0f0f0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.hide {
  display: none;
}

li {
  color: #dcb3ff;
  padding: 3px 0;
}

h1 {
  border-left: 5px solid var(--color-primary);
  padding-left: 12px;
  background-color: #10002d;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 12px;
}

h3 {
  color: var(--color-primary);
}

pre {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-primary);
  font-size: 10px;
}

mark {
  background-color: #4f0097;
  // font-weight: bold;
  color: white;
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 6px;
}
