.hero {
  background: #0a001c;
  display: flex;
  flex-direction: column;
  // background: radial-gradient(circle, var(--color-primary) 0%, transparent 70%);
}

.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: radial-gradient(circle at 50% 30%, #3a006f 0%, transparent 50%);
  padding: 20px;
  padding-bottom: 60px;
}

.headerContainer {
  width: 100%;
  align-items: flex-end;
  display: flex;
  justify-content: center;
}

.nameContainer {
  width: 1200px;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  margin: 1em 0em 2em 0em;
}

.nameTextContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.profileImage {
  width: 6.5em;
  height: 6.5em;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.title {
  color: white;
  font-size: 2em;
  font-weight: bold;
}
.subtitle {
  font-size: 1.8em;
  font-weight: bold;
  color: var(--color-primary);
  margin-bottom: 6px;
}

.contactContainer {
  display: flex;
  align-items: flex-end;
  margin-right: 24px;
  flex-direction: column;
  gap: 6px;
  color: white;
}

.contactField {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: var(--color-primary);
  opacity: 0.8;
}
.contactField:hover {
  opacity: 1;
  cursor: pointer;
}

.contactIcon {
  height: 20px;
  width: 20px;
  opacity: 0.7;
}

.portfolioSection,
.portfolioSectionDark {
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: var(--color-bg-primary);
}

.portfolioSectionDark {
  background-color: var(--color-bg-secondary);
}

// Documents

.documentEditorContainer {
  display: flex;
  min-height: 1060px;
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 40px;
  background-color: #00000059;
  height: fit-content;
  transition: all 0.7s ease-out;
  transform: translateY(50px);
}

.documentEditor {
  display: flex;
  min-height: 600px;
  background-color: var(--color-box-primary);
  border: 1px solid var(--color-box-border);
  border-radius: 20px;
  flex-direction: column;
  flex: 3;
}

.slideInHidden {
  opacity: 0;
  transform: translateY(10px);
}

.slideInVisible {
  opacity: 1;
  transform: translateY(0);
}

.documentToolbar {
  display: flex;
  align-items: center;
  padding-left: 12px;
  background-color: #381179;
  height: 40px;
  border-radius: 20px 20px 0px 0px;
}

.treeViewContainer {
  border-radius: 20px;
  text-align: left;
  padding: 10px;
  padding-right: 20px;
  height: 100%;
  overflow: hidden;
  flex: 1;
}
.toolbarButton {
  cursor: pointer;
  color: white;
  opacity: 0.6;
  width: 20px;
  height: 20px;
  padding: 6px;
}
.toolbarButton:hover {
  color: var(--color-primary);
  opacity: 1;
}

.translationEditorContainer {
  display: flex;
  border-radius: 20px;
  transition: all 0.6s ease-out;
}

.translationSection {
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

// Previous Exp

.jobTitle {
  margin-bottom: 12px;
  background-color: inherit;
}

.jobDuration {
  color: var(--color-primary);
}

.jobDescription {
  color: var(--color-text-subtle);
}

.jobDescription:last-child {
  margin-bottom: 35px;
}

// Tech

.techCategory,
.techCategorySecondary {
  flex: 1 1 0%;
  background-color: var(--color-box-primary);
  padding: 25px;
  border-radius: 20px;
  border: 1px solid var(--color-box-border);
}
.techCategory {
  background: linear-gradient(135deg, #320b73 0%, #120729 100%);
}

.techCategorySecondary {
  background-color: var(--color-box-secondary);
  border: none;
}

// Projects

.personalProjectContainer {
  margin-bottom: 40px;
}
.projectHeader {
  display: flex;
  align-items: center;
}

.projectStatusOnline,
.projectStatusDiscontinued {
  border-radius: 1em;
  padding: 4px 8px;
  border: 2px solid black;
  margin-left: 12px;
  font-weight: bold;
  font-size: smaller;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 12px;
}

.projectStatusOnline {
  color: var(--color-success);
  border-color: var(--color-success);
  background-color: var(--color-success-bg);
}

.projectStatusOnline::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-success);
}

.projectStatusDiscontinued {
  color: var(--color-disabled);
  border-color: var(--color-disabled);
  background-color: var(--color-disabled-bg);
}

.projectStatusDiscontinued::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: grey;
}

.projectLinks {
  color: var(--color-primary);
  margin-top: 12px;
}

.projectImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 16px;
  // box-shadow: 0px 4px 80px rgb(38 6 61);
}

// Game Dev

.gameVideo {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.gameProjectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  color: var(--color-text-subtle);
}

// Common

.columnContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  transition: all 0.6s ease-out;
}

.sectionHeader {
  margin-bottom: 20px;
  color: #c686ff;
  font-weight: bold;
}

.sectionHeaderText {
  padding-bottom: 6px;
}

.contentEditable {
  outline: none;
  color: white;
  height: 100%;
  text-align: left;
  flex: 1;
}

.divider {
  border-left: 1px solid #ffffffff;
  opacity: 0.1;
  margin: 12px;
  height: 60%;
}

.subtleText {
  color: var(--color-text-subtle);
}

.signOffContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signOffContact {
  display: flex;
  align-items: center;
  gap: 6px;
}

.backToTopButton {
  display: flex;
  align-items: center;
  margin-top: 24px;
  gap: 6px;
  color: var(--color-primary);
  cursor: pointer;
}
